{#
    This template is empty by default.
    Any header HTML added here will render _above_ Vanilla's built-in header.
    See https://success.vanillaforums.com/kb/articles/171-a-themes-structure#header

    Styles from the styles.css asset will apply to this header.
 #}
<style>
    .ubuntooWrapper {
        background-color: #173042;
        display: flex;
        justify-content: space-between;
        padding-bottom: 1.25rem!important;
        padding-top: 1.25rem!important;
        padding: 0 1rem;
        top: 0;
        left: 0;
        right: 0;
    }
    .navBar{
        display: flex;
        gap: 8px;
        color: #fff;
    }
    .nav-link{
        color: #fff!important;
        font-size: 17px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        text-decoration: none;
        padding: 0.5rem 0.5rem;
    }
    .ubuntooLogo{
        width: 200px;
    }
</style>
<header class="header">
    <div class="ubuntooWrapper">
    <div class="navBar">
            <div class="ubuntooLogo">
                <img src="https://app.ubuntoo.com/img/ubuntoo-white.svg" class="ubuntooLogo" alt=" Ubuntoo">
            </div>
        <div class="navBar">
            <a role="button" class="nav-link" tabindex="0" href="https://app.sandbox.ubuntoo.com/s">Discover</a>
            <a role="button" class="nav-link" tabindex="0" href="https://app.sandbox.ubuntoo.com/g">Collaborate</a>
            <a role="button" class="nav-link" tabindex="0" href="https://app.sandbox.ubuntoo.com/learn">Learn</a>
            <a role="button" class="nav-link" tabindex="0" href="https://app.sandbox.ubuntoo.com/forum">Forum</a>
        </div>
    </div>
    </div>

</header>
